force-app/main/default/flows/contact_update_based_on_checkbox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>getTime</name>
        <label>getTime</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>getRecentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordDateAndTimeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getNewRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Source_c_False</name>
        <label>Source_c_False</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>checkBoxFalse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Imported internal contacts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Source_c_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Source_c_value_true</name>
        <label>Source_c_value_true</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>checkBoxTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Imported external contacts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Soucre_c_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkBoxStatus</name>
        <label>checkBoxStatus</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Source_c_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>textValueWhenCheckBoxFalse</defaultConnectorLabel>
        <rules>
            <name>textValueWhenCheckbocTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Source_c_value_true</targetReference>
            </connector>
            <label>textValueWhenCheckbocTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>recordDateAndTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY())</expression>
    </formulas>
    <interviewLabel>contact update based on checkbox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>contact update based on checkbox v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNewRecords</name>
        <label>getNewRecords</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkBoxStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRecentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Soucre_c_True</name>
        <label>update_Soucre_c_True</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>checkBoxTrue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Source_c_False</name>
        <label>update_Source_c_False</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>checkBoxFalse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTime</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>checkBoxFalse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkBoxTrue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getRecentDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
