force-app/main/default/flows/New_Flow_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Text_Value_When_False</name>
        <label>Set_Text_Value_When_False</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Text_Value_False</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Imported internal contacts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sourceTextFalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Text_Value_When_True</name>
        <label>Set_Text_Value_When_True</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Text_Value_True</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Imported external contacts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sourceTextTrue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkBoxStatus</name>
        <label>checkBoxStatus</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Text_Value_When_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>checkBoxFalse</defaultConnectorLabel>
        <rules>
            <name>checkBoxTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Text_Value_When_True</targetReference>
            </connector>
            <label>checkBoxTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New Flow v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Flow v7</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>sourceTextFalse</name>
        <label>sourceTextFalse</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Text_Value_False</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>sourceTextTrue</name>
        <label>sourceTextTrue</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Text_Value_True</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkBoxStatus</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Text_Value_False</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Text_Value_True</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextTrue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Imported external contacts</stringValue>
        </value>
    </variables>
</Flow>
